.banner {
  background-color: #b38456;
  display: flex;
  // justify-content: space-between;
  align-items: normal;
  // flex-direction: row;
  padding-top: 240px;

  &__description {
    background-color: #b38456;
    padding: 0;
    text-align: left;

    .titles {
      position: relative;
      height: 2em;
    }

    h2 {
      font-size: 7em;
      color: #fff;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: translateY(100%);
      // transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      // transition: opacity 1s ease-in-out, transform 1s ease-in-out;
      transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;

    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
      // animation: stay-visible 3s ease-in-out forwards;
      animation: stay-visible 4s ease-in-out forwards;
    }

    .arrow {
      animation: arrowMoving 1.5s infinite;
      transform: translateY(-30%);
    }

    .fa-arrow-down {
      font-size: 5em;
      color: #fff;
    }
  }

  &__me {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 30px;
      margin-top: 1em;
    }

    img {
      border-radius: 255px;
      width: 400px;
      padding-top: 32px;
    }
  }
}

@keyframes stay-visible {
  0%, 50% {
    opacity: 1;
    transform: translateY(-80%);
  }
  60% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes arrowMoving {
  0%, 20% {
    opacity: 1;
    transform: translateY(-20%);
  }
  50%, 80% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
