.banner {
  background-color: #b38456;
  display: flex;
  align-items: normal;
  padding-top: 240px;

  &__description {
    background-color: #b38456;
    padding: 0;
    text-align: left;

    .titles {
      position: relative;
      height: 2em;
    }

    h2 {
      font-size: 7em;
      color: #fff;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: translateY(100%);
    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
      animation: stay-visible 4s ease-in-out forwards;
    }

    .arrow {
      animation: arrowMoving 1.5s infinite;
      transform: translateY(-30%);
    }

    .fa-arrow-down {
      font-size: 5em;
      color: #fff;
    }
  }

  &__about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 30px;
    }

    img {
      border-radius: 255px;
      width: 400px;
      padding-top: 32px;
    }
  }
}

@keyframes stay-visible {
  0%, 50% {
    opacity: 1;
    transform: translateY(-80%);
  }
  60% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes arrowMoving {
  0%, 20% {
    opacity: 1;
    transform: translateY(-20%);
  }
  50%, 80% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .banner {
    background-color: #b38456;
    display: flex;
    align-items: normal;
    padding-top: 140px;

    &__description {
      .titles {
        height: 4em;
      }

      h2 {
        font-size: 4em;
      }
    }

    &__about-me{
      img {
        border-radius: 255px;
        width: 200px;
        height: 200px;
      }
    }
  }
}


@media (max-width: 768px) {
  .banner {
    // padding-top: 60px;
    padding-top: 80px;

    &__description {
      gap: 100px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 2.5em;
      }

      .fa-arrow-down {
        font-size: 3em;
      }
    }

    &__about-me{
      display: flex;
      position: relative;
      align-items: center;
      gap: 20px;

      p {
        font-size: 18px;
      }

      img {
        border-radius: 50px;
        width: 80px;
        padding-top: 0;
        height: auto;
        max-height: 20vh;
        object-fit: contain;
      }
    }
  }
}
