.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 0 1.5rem;
  color: white;
  background-color: black;
  align-items: center;

  &__icon {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &__content {
    display: flex;
    gap: 8px;

    &--text {
      margin: 0;
      padding: 0;
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 18px;
    padding: 3.5rem 0 1.5rem;

    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--text {
        font-size: 18px;
      }
    }
  }
}
