
.skills__cards {
  display: flex;
  gap: 30px;
}
.card-skill {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  // transition: width 0.3s ease;
  display: flex;

  // &:hover {
  //   width: 300px;
  // }

  // &:hover .card-description {
  //   display: flex;
  // }
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  // transition: opacity ;
}

.card-description {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
}


.tools {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;

  &__icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & img {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
