.skills__wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 100px 0;
}

.skills__cards {
  display: flex;
  animation: scroll 24s linear infinite;
}

.card-skill {
  display: inline-block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 0 150px;
  min-width: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills__cards.moving {
  animation-play-state: running;
}

.skills__cards:not(.moving) {
  animation-play-state: paused;
}

.card-skill.top {
  transform: translateY(-50px);
}

.card-skill.bottom {
  transform: translateY(10px);
}



.tools {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;

  &__icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & img {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
