.banner {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
h1 {
  text-align: center;
}
h2, h3 {
  font-family: Chivo;
  color: #0C0A3E;
  text-align: center;
}
.banner p {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: fuchsia;
}
.max-width {
  max-width: 800px;
}
/*
#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;  
  }

.card {
  text-align: center;
}
*/

ol {
  color: #1f8aaa;
  list-style-type: none;
}
p, ul {
  color: #061789;
  text-align: left;
}
 