.projects {
  background-color: #f1ebe4;
  height: auto;
}

.skills {
  background-color: #dfede2;
  padding: 0;
}

@media (max-width: 768px) {
  .skills, .contact {
    display: none;
  }

  .projects {
    height: auto;
    padding: 36px 20px;
  }
}
